@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --nav-bg-color: var(--primary-color);
  --nav-link-color: white;
  --nav-hover-link-color: var(--secondary-color);
  --nav-hover-bg-color: var(--accent1-color);
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

header {
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
}

header div {
  font-size: 1.2em;
}

main {
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  padding: 10px 0;
}

nav {
  background-color: var(--nav-bg-color);
  padding: 10px;
  text-align: center;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
}

nav a:hover {
  background-color: var(--nav-hover-bg-color);
  color: var(--nav-hover-link-color);
}

footer {
  padding: 10px;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  margin-top: 20px;
}